/************************
    GENERAL BODY STYLE
*************************/

body {
    background-image: url(../images/ash-edmonds-0aWZdK8nK2I-unsplash.jpg);
    background-repeat: repeat;
    background-size: cover;
    color: darkgrey;
}

.page1 {
    text-align: center;
}

.page2 {
    font-weight: normal;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}

/************************
    SOCIAL LINKS
*************************/

.facebook {
    position: relative;
    bottom: 20px;
}

.twitter {
    position: relative;
    bottom: 20px;
}

.instagram {
    position: relative;
    bottom: 20px;
}

p {
    float: right;
    position: relative;
    bottom: 20px;
}


/********************
    NAVBAR
*********************/

nav {
    font-family: 'Arial Rounded MT';
    font-size: 16px;
    color: darkgrey;
}

nav ul {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    /*list-style-type: none;*/
    /*height: 45px;*/
    border: 10px solid rgba(128, 128, 128, .01);
    background-color: rgba(128, 128, 128, .01);
    /*padding: 0;*/
}



nav ul li {
    display: block;
    font-size: 20px;
    background-color: rgba(128, 128, 128, .01);
    color: darkgray;
    padding: 0;
    padding-right: 15px;
}

.navBar {
    color: darkgrey;
}

nav ul li:hover {
    /*background-color: rgba(112, 15, 15, .5);*/
    border: 4px solid rgba(112, 15, 15, .5);
}

.navbar {
    height: 30px;
    padding: 0;
    margin: 0;
}

nav a {
    background-color: rgba(128, 128, 128, .1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li a {
    display: block;
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(112, 15, 15, .5);
}

nav li a:hover {
    height: 45px;
    background-color: rgba(112, 15, 15, .5);
}

nav li a {
    text-align: center;
}


/*************************
 ABOUT US SECTION
***************************/
.imgAboutUs {
    float: left;
}

h1 {
    text-align: center;
}
