/************************
    GENERAL BODY STYLE
*************************/

body {
    /*background-image: url(../images/ash-edmonds-0aWZdK8nK2I-unsplash.jpg);*/
    background-repeat: repeat;
    background-size: cover;
    color: darkgrey;
    background-image: url(../images/shubham-dhage-5LQ_h5cXB6U-unsplash.jpg);
    
        
}
/*.pageImage {
    max-width: %
}*/

main {
    background-color: rgba(78, 78, 80, .5);
}

.page1 {
    text-align: center;
}

.page2 {
    font-weight: normal;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}

body {
    font-family: Raleway;
}


/************************
    SOCIAL LINKS AND HEADER
*************************/


.headerHome {
    display: flex;
    justify-content: flex-start;    
    height: 100px;
}

.polyEdu {
    flex-direction: column;

}

.polyEdu h1 {
    width: 175px;
}
.socialsHeader {
    display: flex;
    justify-content: flex-end;
    column-gap: 50px;
    margin: 0;
    
}

.facebook {
    color: darkgrey;
}

.twitter {
    color: darkgrey;
}

.instagram {
    color: darkgrey;
}

.imgHome {
}

/********************
    NAVBAR
*********************/
.navBar {
    text-decoration: none;
}

nav {
    font-family: 'Arial Rounded MT';
    font-size: 16px;
    background-color: rgba(78, 78, 80, .3);
    border: 3px solid rgba(78, 78, 80, .9);
}

.navContainer {
    display: flex;
    justify-content: flex-start;
    column-gap: 50px;
    /*list-style-type: none;*/
    /*height: 45px;*/
    align-content: center;
    background-color: rgba(78, 78, 80, .3);
    margin: 0;
    /*padding: 0;*/
}

ul .navContainer {
    background-color: rgba(78, 78, 80, .3);
}

nav ul li {
    background-color:rgba(78, 78, 80, .3); 
    display: block;
    font-size: 20px;
    text-decoration: none;
    /*padding: 0;
    padding-right: 15px;*/
}



    nav ul li:hover {
        /*background-color: rgba(112, 15, 15, .5);*/
        display: inline-block;
        /*border: 5px solid rgba(112, 15, 15, .5);*/
        background-color: rgba(78, 78, 80, .5);
    }

nav a {
    background-color: rgba(78, 78, 80, .3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: darkgrey;
}


    nav a:hover {
        background-color: #6F2232;
    }


    /*nav a:link {
    text-decoration: none;
}*/

    


/*************************
 ABOUT US SECTION
***************************/

.firstallign {
    height: 350px;
    display: flex;
    justify-content: flex-start;
    background-color: none;
    flex-wrap: wrap;
    align-content: center;
    column-gap: 25px;
    margin: 50px;
    flex-direction: row;
    width: auto;
}

.aboutUs h1 {
    text-align: left;
}
.imgAboutUs {
    align-items: center;    
}

.aboutUs p {
    width: 1000px;
}

.aboutUs {
    justify-content: flex-start;
}
/*.page {
    justify-content: flex-end;
}*/

/**********************
WHY CHOOSE US SECTION
***********************/

.chooseUs {
    text-align: center;
    
}

.whyUsBody1 {
    height: auto;
    display: flex;
    justify-content: center;
    background-color: none;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 0;
    /*column-gap: 25px;*/
}

.imgChooseUs {
    
    
    margin-bottom: 0;
    padding-bottom: 0;
}

.body-style {
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.box {
    width: 350px;
    height: auto;
    margin: 0;
}

.whyUsBody2 {
    height: auto;
    display: flex;
    justify-content: center;
    background-color: none;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 50px;
    margin-right: 50px;
    /*margin-bottom: 50px;*/
    /*column-gap: 25px;*/
}

.whyUsDes {
    margin: 20px;
}

/*************************
 FOOTER
***************************/

footer {
    background-color: none;
}


.footerPoly {
    display: flex;
    justify-content: space-between;
    
    align-items: center;  
}

.socialsFooter {
    display: flex;
    column-gap: 50px;
    margin: 0;
    height: 40px;    
}



/**************************************************************************************
    ============================ CLASSES PAGE ==================================
***************************************************************************************/
/*************************
    CLASS TOPICS 
***************************/
.classesHeader {
    text-align: center;
}

.classesImage {
    border: 3px solid black;
}

.classSubjects1 {
    display: flex;
    height: 550px;
    justify-content: center;
    /*border: 5px solid black;*/
    column-gap: 25px;
    align-items: flex-start;
}

.subject {
    flex-direction: column;
    border: 5px solid black;
    column-gap: 50px;
    text-wrap: normal;
    height: 467px;
    width: 240px;
    background-color: rgba(78, 78, 80, .98);
}

.topicTitle {
    text-align: center;
}

.description {
    width: 235px;
}

/*************************
    CLASS TABLE 
***************************/
.classesDiv {
    text-align: center;
}

.alignTable table {
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
}

table, tr, td, th {
    border: 1px solid black;
}

table {
    margin: auto;
    margin-bottom: 2em;
}

th {
    font-weight: bold;
    text-align: center;
}

td, th {
    padding: .3em;
}

thead {
    background-color: dimgrey;
}

tfoot {
    background-color: dimgrey;
}

    tfoot tr, tfoot td {
        border: 0;
    }

tbody tr:nth-child(even) {
    background-color: dimgrey;
}

/**************************************************************************************
    ============================ TEAMS PAGE ==================================
***************************************************************************************/
/*************************
    RIGHT COLUMN    
***************************/
#team-row {
    
    display: flex;
    margin-bottom: 15px;
    width: 250px;
    flex-direction: column;
    border-left: 5px solid black;
    justify-content: center;
    margin-top: 0;
    padding-top: 0;
    height: unset;
    position: fixed;
    z-index: 1030;
}
#team-row:any-link {
    text-decoration: none;
    color: white;
}

    #team-row a {
        text-decoration: none;
        color: white;
    }

#team-row h2 {
    font-size: 18.72px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

    #team-row ul {
        list-style-type: none;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        color: white;
    }

.teamNames {
     width: auto;
}

h1 {
    font-size: 30px;
    text-align: center;
}

h2{
    text-align: center;
}

.department {
    display: flex;
    flex-direction: column;
}

.leadership {
    display: flex;
}

.companyPresident {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.headshot {
    border-radius: 50%;
    border: 5px solid gray;
}

/**************************************************************************************
    ============================ CONTACT US PAGE ==================================
***************************************************************************************/

.contactHeader {
    padding-top: 100px;
}

.contactUs {
    height: 700px;
    /*margin-bottom: 150px;*/
    display: flex;
    flex-direction: column;
    justify-content:inherit; 
    align-items: center;
    
}

.contactUs a {
    color: white;
}

.contactUs a:link {
    text-decoration: none;
}

.contactUs a:visited {
    text-decoration: none;
}

.contactUs a:visited {
    text-decoration: none;
}

.contactUs a:active {
    text-decoration: none;
}

.contactSocial {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
}